/* *{ padding: 0; margin: 0; } */

#textarea_0{

    text-align: center;
    /* display: flex;
    justify-content: center; */

}


#textarea{

    width: 97%;
    height: 500px;
    min-height: 280px;
    
    margin-top: 65px;
    border-radius: 18px;
    border: 2px solid rgb(58, 58, 102);

}

#button{

    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
    

}

#button button{

    width: 30%;
    

}

#consol{

    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(58, 58, 102);
    font-weight: bold;
    margin-top: 20px;

}



#output{

    max-width: 100% !important ;
}